body {
	font-family: "Lucida Grande";
	width: 300px;
	margin: 0 0 0 0;
}

/*------------------
	  Main Page
------------------*/
nav ul {
	padding: 0;
    margin: 0 auto;
    text-align: center;
    background-color: blue;
    width: 100%;
}

nav ul li {
	width: 33%;
    height: 25px;
    background-color: blue;
    text-align: center;
    list-style: none;
    display: inline-block;
    float: left;
}

nav ul li a {
	color: white;
	table-decoration: none; 
}

h3 {
	margin-top: 0;
}


/*------------------
      Send Page
------------------*/

#sendConfirmation p {
    color: green;
}